@import "../../common.less";

#section-hardware {
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
}

#section-hardware-content {
  h2 {
    margin: 3rem 0 2rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  .big-button {
    .icon {
      margin: 0 0.5rem 0 0;
      display: inline-block;
    }

    .icon:before {
      content: "\e93a";
    }
  }
}

#section-hardware-list {
  font-weight: 500;
  padding: 0 0 2rem;
  display: flex;

  & > div {
    max-width: 30%;
    line-height: 1.4;
    margin: 0 auto;
    font-size: 0.8rem;
  }

  img {
    width: 80%;
    max-width: 300px;
    height: auto;
    margin: 0 auto 0.5rem;
    display: block;
  }
}

#section-hardware-explanation {
  margin: 1.5rem 0;
  font-size: 0.8rem;
}
