@import "../../common.less";

#section-hardware {
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
}

#section-hardware-content {
  h2 {
    margin: 3rem 0 1rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
}

#section-hardware-list {
    font-weight: 500;
    padding: 0 0 3rem;

    img {
      width: 80%;
      height: auto;
      margin: 0 auto 0.5rem;
      display: block;
    }
}
