@import "../../common.less";

#section-map {
  width: 100%;
  float: left;
  color: #fff;
}

#section-map-wrapper {
  width: 100%;
  height: 610px;
  background: url('../../assets/images/map.jpg');
  background-size: auto 100%;
  background-position: center;
  font-size: 20px; // needed for point postitioning

  @media (max-width: 749px) {
    height: 500px;
    font-size: 17.1px;
  }

  @media (max-width: 599px) {
    height: 400px;
    font-size: 13.7px;
  }

  @media (max-width: 449px) {
    height: 300px;
    font-size: 10.1px;
  }
}

#section-map-content {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#section-map-phone {
  overflow: visible;
  box-sizing: border-box;
  position: absolute;
  height: 549px;
  width: 269px;
  top: 5%;
  left: ~"calc(25% - 141px)";
  background: url('../../assets/images/iphone.svg') no-repeat;
  background-size: 100%;

  @media (max-width: 749px) {
    left: ~"calc(25% - 110px)";
    height: 450px;
    width: 221px;
  }

  @media (max-width: 599px) {
    height: 360px;
    width: 176px;
    left: ~"calc(25% - 86px)";
  }

  @media (max-width: 449px) {
    left: ~"calc(25% - 66px)";
    height: 270px;
    width: 132px;
  }

  div {
    position: relative;
    width: 87%;
    height: 75.4%;
    margin: 24.6% 0 0 6.6%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    animation: fadein 0.5s;
  }

  @keyframes fadein {
    from { opacity: 0.01; transform: scale(0.9) }
    to   { opacity: 1; }
  }
}

#section-map-pois {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
}

#section-map-pois-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  div {
    position: absolute;
    height: 0.4rem;
    width: 0.4rem;
    margin: -0.3rem;
    border: 0.3rem #ec8c82 solid;
    border-radius: 50%;
    background: @red;
    transition: transform 0.3s;
    transform: scale(1.0);
    cursor: pointer;

    &:hover {
      transform: scale(1.6);
      cursor: pointer;
    }

    &.active {
      cursor: initial;
      animation: pulse 2.0s infinite ease-in-out;
      animation-delay: 0.3s;

      &:hover {
        transform: scale(1);
      }
    }

    @keyframes pulse {
      0%, 100% {
        transform: scale(1);
      } 50% {
        transform: scale(1.6);
      }
    }
  }

  div:nth-child(1) {
    top: 0.35em;
    left: 0.8rem;
  }

  div:nth-child(2) {
    top: -1.5em;
    left: 2em;
  }

  div:nth-child(3) {
    top: -3.8em;
    left: 2.9em;
  }

  div:nth-child(4) {
    top: 4.1em;
    left: 2.9em;
  }

  div:nth-child(5) {
    top: 6.7em;
    left: 7.4em;
  }

  div:nth-child(6) {
    top: 9.5em;
    left: 10em;
  }

  div:nth-child(7) {
    top: -6em;
    left: 10.3em;
  }
}

#section-map-invite {
  width: 100%;
  background: @red;
  padding: 1.4rem 0;
}

#section-map-invite-button {
  a {
    margin: 0.4rem auto;
  }
}

#section-map-invite-stores {
  margin: 0.4rem auto;
  text-align: center;
  white-space: nowrap;

  img {
    opacity: 0.3;
    margin: 0 0.1rem -0.26rem;
    cursor: not-allowed;
    max-height: 55px;
    width: auto;
    height: 2.8rem;
  }
}
