#footer {
  width: 100%;
  float: left;
  background: #2e2e2e;
  color: #fff;
  padding: 2rem 0 1rem;
  font-size: 0.7rem;

  h5 {
    font-size: 0.7rem;
    font-weight: 700;
    margin: 0 0 1rem;
  }

  ul {
    margin: 0 0 1rem;
  }

  li {
    list-style: none;
    margin: 0 0 0.3rem;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}
