@import "../../common.less";

#section-process {
  width: 100%;
  background: @grey;
  position: relative;
  float: left;
  color: #fff;
  text-align: center;
}

#section-process-content {
  h2 {
    margin: 3rem 0 1rem;
  }

  p {
    margin-bottom: 1.5rem;
  }
}

#section-process-list {
  font-weight: 500;
  padding: 0 0 3rem;
  display: flex;

  & > div {
    max-width: 30%;
    line-height: 1.4;
    margin: 0 auto;
    font-size: 0.8rem;
  }
}

#section-process-feature1, #section-process-feature2, #section-process-feature3 {
  flex-grow: 1;
  width: 3.2rem;
  height: 3.2rem;
  position: relative;
  margin: 3.36rem auto 0.56rem;

  &.active {
    img:nth-child(1) {
      animation: spin-big 4s linear infinite;
    }

    img:nth-child(2) {
      animation: spin-small 2.4s linear infinite;
    }
  }

  img:nth-child(1) {
    position: absolute;
    width: 3.2rem;
    height: auto;
    left: -0.48rem;
    top: -1.76rem;
  }

  img:nth-child(2) {
    position: absolute;
    top: 0.95rem;
    left: 1.39rem;
    width: 1.92rem;
    height: auto;
  }
}

@keyframes spin-big { 100% { transform: rotate(360deg); } }
@keyframes spin-small { 100% { transform: rotate(-360deg); } }
