@import "../../common.less";

#content {
  background: #fff;
  width: 100%;
  float: left;
  margin-top: 100px;

  @media (max-width: 749px) {
    margin-top: 60px;
  }

  a {
    color: @red;
    text-decoration: none;
    /*font-weight: 500;*/

    &:hover {
      border-bottom: 1px @red solid;
    }
  }
}

.big-button {
  display: inline-block;
  background: @red;
  color: #fff !important;
  font-weight: 700;
  padding: 0.56rem 0.8rem;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1em;
  width: 100%;
  margin: 0;

  &:hover {
    color: @red !important;
    background: #fff;
    padding: ~"calc(0.56rem - 3px) calc(0.8rem - 3px)";
    border: 3px @red solid !important;
  }

  &.inverse {
    color: @red !important;
    background: #fff;

    &:hover {
      color: #fff !important;
      background: @red;
      border-color: #fff !important;
    }
  }
}

