#section-faq {
  width: 100%;
  float: left;
  background: url(../../assets/images/optocam.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}

#section-faq-content {
  padding-bottom: 1.5rem;

  h2 {
    margin: 3rem 0 1rem;
  }

  .row {
    font-size: 0.9rem;
  }

  .column {
    text-align: justify;
    padding: 0 0 0.9rem;
  }
}
