#section-campaign {
  float: left;
  width: 100%;
  color: #4b4b4b;
}

#section-campaign-content {
  padding-bottom: 1rem;
}

#section-campaign-headline {
  h2 {
    margin: 3rem 0 2rem;
    text-align: center;
  }
}

#section-campaign-cite {
  position: relative;

  p {
    padding-left: 4.5rem;
    font-style: italic;
    text-align: justify;
    margin: 0;
  }

  p:before {
    content: "„";
    color: #e0e0e0;
    font-size: 7rem;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    top: -6.65rem;
    left: 0.5rem;
  }
}

#section-campaign-head {
  width: 2rem;
  height: 2rem;
  background: #333;
  border-radius: 50%;
  margin: 0 0.0rem -0.7rem 0.5rem;
  display: inline-block;
}

#section-campaign-author {
  display: block;
  text-align: right;
  font-size: 0.7rem;
  padding-top: 0.5rem;
}

#section-campaign-button {
  width: 100%;
  max-width: 500px;
  margin: 3rem auto 4rem;
}

#section-campaign-rewards {
  display: flex;
  flex-wrap: wrap;

  & > div {
    margin-bottom: 1rem;
    max-width: 300px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-campaign-reward-price {
  float: left;
  width: 17%;
  font-weight: 700;
  font-size: 1.75rem;
  margin-right: 3%;
}

.section-campaign-reward-info {
  float: left;
  width: 38%;
  margin: 0.20rem 2% 0 0;
}

.section-campaign-reward-title {
  float: left;
  font-weight: 700;
  font-size: 0.8rem;
}

.section-campaign-reward-status {
  float: left;
  clear: both;
  font-weight: 300;
  font-size: 0.65rem;
  color: #4aaf51;
}

.section-campaign-reward-image {
  float: right;
  width: 40%;
  margin-top: -0.7rem;
  
  img {
    width: 100%;
    height: auto;
  }
}

#section-campaign-press {
  width: 100%;
  background: #e5e5e5;
  padding: 0.5rem 0;

  div {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    padding-right: 1rem;
    display: inline-block;
    margin: auto;
    flex-grow: 1;

    &:last-child {
      padding-right: 0;
    }
  }

  img {
    width: auto;
    height: 60px;
    padding: 1.5rem 0;
    display: block;
    margin: 0 auto;
  }
}
