#section-campaign {
  float: left;
  width: 100%;
  color: #4b4b4b;
}

#section-campaign-head {
  h2 {
    margin: 3rem 0 1rem;
  }
}

#section-campaign-rewards {
  & > div {
    background: #f5f5f5;
    border-radius: 5px;
  }
}

#section-campaign-press {
  width: 100%;
  background: #e5e5e5;
  display: flex;

  a {
    margin: auto;
  }

  img {
    width: auto;
    height: 60px;
    padding: 1.5rem 0;
    display: block;
    margin: 0 auto;
  }
}
