@import "../../common.less";

#section-features {
  width: 100%;
  background: @red;
  position: relative;
  float: left;
  color: #fff;
  text-align: center;
}

#section-features-content {
  h2 {
    margin: 3rem 0 1rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
}

#section-features-list {
  font-weight: 500;
  padding: 0 0 3rem;
  display: flex;

  & > div {
    max-width: 30%;
    line-height: 1.4;
    margin: 0 auto;
    font-size: 0.8rem;
  }

  .icon {
    flex-grow: 1;
    font-size: 4rem;
    margin: 1.3rem 0 1.2rem;
  }
}

#section-features-feature1:before {
  content: "\e90f";
}

#section-features-feature2:before {
  content: "\e983";
}

#section-features-feature3:before {
  content: "\e600";
}
