#section-home {
  margin-top: 100px;
  width: 100%;
  height: 619px;
  position: relative;
  float: left;
  color: #fff;

  @media (max-width: 749px) {
    height: 500px;
    margin-top: 60px;
  }
}

#section-home-bg {
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background: url(../../assets/images/home.jpg) no-repeat;
  background-size: cover;
}

#section-home-bg video {
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 100%;

  @media (max-width: 1099px) {
    width: auto;
    height: 100%;
  }
}

#section-home-content {
  padding-top: 3%;
  height: 80%;
}

#section-home-video {
  width: 100%;
  height: 100%;
  display: flex;

  & > div {
    margin: auto;
  }

  .spinner {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
  }
}

#section-home-headline {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  text-align: center;

  h1 {
    letter-spacing: -0.2rem;
    text-transform: uppercase;
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin: auto 0 0 0;
    font-weight: 500;
  }

  span {
    margin: 0 0 auto 0;
    font-size: 1.1rem;
    padding: 0 0 0 0.4rem;
    font-weight: 500;
  }
}

#section-home-play {
  height: 60%;
  display: flex;
  cursor: pointer;

  &:hover {
    color: #c6003b;
  }
}

#section-home-play:before {
  content: "\e912";
  font-size: 8rem;
  margin: 0 auto auto;
}

#section-home-foot {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 20%;
}

#section-home-foot-wrapper {
  display: flex;
  height: 100%;
  align-items: center;

  @media (max-width: 1199px) {
    font-size: 1.7vw;
  }

  @media (max-width: 749px) {
    font-size: 0.7rem;
  }

  @media (max-width: 399px) {
    font-size: 0.75rem;
  }
}

#section-home-foot-desc {
  white-space: nowrap;
  flex-grow: 3;
}

#section-home-foot-button {
  flex-grow: 1;
  text-align: center;
  width: auto;
  background: #c6003b;
  color: #fff;
  font-weight: 700;
  padding: 0.4rem 0.8rem;
  border: 0;
  border-radius: 0;
  text-transform: none;
  cursor: pointer;

  &:hover {
    color: #c6003b;
    background: #fff;
  }
}
